@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>NorthwindAngular CRUD Example</h3>

<p>AppHarbor</p>
<p>Northwind database</p>
<p>Sql Server</p>
<p>ASP.NET MVC 5</p>
<p>Entity Framework 6</p>
<p>AngularJS</p>
<p>Angular directive for Bootstrap</p>
<p>Mini profiler</p>
<p>Toaster notification</p>
<p>Angular loading bar</p>

<br />
<p><strong>Todo:</strong></p>
